@import url(https://fonts.googleapis.com/css?family=Fredoka+One);

body {
  font-family: "Fredoka One", cursive !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  background: url("../headphones.png") no-repeat;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
  background-size: cover;
}


.triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 50px solid transparent;
  position: relative;
  margin-left: 40%;
  transform: rotate(10deg);
  border-top: 60px solid orangered;
  margin-top: -1.8%;
}

h1 {
  font-family: "Fredoka One", cursive !important;
  text-align: center;
}

input {
  width: 25%;
  height: 50px;
  font-size: 2em;
  text-align: center;
}

button {
  height: 45px;
  font-size: 1.25em;
  border: 1px solid grey;
  border-radius: 2%;
  outline: none !important;
}

#navBar button {
  width: 150px;
}

button:hover,
i:hover {
  color: #ef5526;
}

#searchArea {
  text-align: center;
}

img {
  float: left;
  margin-right: 10%;
  margin-left: 25%;
}

a,
a:hover {
  color: #fff;
  text-decoration: none;
}

a:hover {
  transform: scale(1.1);
}

p {
  margin-right: 5%;
  font-family: sans-serif;
}

#lyrics {
  /* width: 80%;
  margin: auto; */

  overflow: auto;
}

.ajaxContent {
  text-align: center;
}

#login {
  margin-right: 10px;
}

.row {
  height: calc(100vh - 96px);
}

#userbuttons button {
  display: inline-flex;
  width: 30%;
  text-align: center;
}

#searchInput {
  width: 350px;
}

.btn-primary,
.btn-outline-primary {
  background-color: #ef5526;
  color: white;
  border: 1px solid #ef5526;
}

.btn-primary:hover,
.btn-outline-primary:hover {
  background-color: #c2e4d3;
  color: #ef5526;
}

#spotify,
#youtube,
#lyrics {
  text-align: center;
}

#spotify .controlButton,
#youtube .controlButton,
#lyrics .controlButton {
  color: #000;
  margin-top: 10px;
}

#spotify .controlButton:hover,
#youtube .controlButton:hover,
#lyrics .controlButton:hover {
  color: #ef5526;
}

#middleContainer {
  text-align: center;
  margin-top: 10px;
}

.navbar-brand {
  letter-spacing: 2px;
}

.navbar {
  height: 96px;
}

form {
  margin-left: 100px;
}

.searchResult {
  margin-top: 15px;
}

.projectName {
  font-size: 32px;
}

.play:hover,
.pause:hover {
  transform: scale(1.1);
}

.playArtist {
  font-size: 1.75rem;
}

.playTrack {
  font-size: 2rem;
  display: block;
  margin-top: 30px;
}

.displayLyrics {
  letter-spacing: 2px;
  line-height: 175%;
  font-size: 1.4rem;
  margin-top: 20px;
  font-weight: 700;
}

/* CSS FOR THE PLAYER BAR */

#nowPlayingContainer {
  width: 33%;
  background-color: #343a40;
  bottom: 0;
  left: 0;
  min-width: 250px;
  position: fixed;
  padding-top: 5px;
  padding-bottom: 5px;
}

#nowPlayingBar {
  height: 120px;
  padding: 16px;
  box-sizing: border-box;
  /* THIS */
  justify-content: space-between;
}

#nowPlayingArtist,
#nowPlayingVolume {
  width: 30%;
  min-width: 180px;
}

#nowPlayingVolume {
  position: relative;
  margin-top: 30px;
}

#nowPlayingControls {
  width: 40%;
  max-width: 700px;
  flex-direction: column;
  align-items: center;
}

#nowPlayingBar .content {
  width: 100%;
  height: 100%;
  min-width: 180px;
}

.playerControls .playerButtons {
  margin: 10px auto;
  display: table;
}

.controlButton {
  background-color: transparent;
  border: none;
  vertical-align: middle;
  color: #a0a0a0;
  margin-right: 10px;
  text-align: center;
}

.progressTime {
  color: #a0a0a0;
  font-size: 12px;
  min-width: 40px;
  text-align: center;
}

.progressBar {
  width: 100%;
  height: 13px;
  display: inline-flex;
  cursor: pointer;
}

.progressBarBackground {
  background-color: #404040;
  height: 4px;
  width: 100%;
  border-radius: 2px;
}

.actualProgress {
  background-color: #a0a0a0;
  height: 4px;
  width: 0;
  border-radius: 2px;
}

.progressBarContainer .progressBar {
  margin-top: 5px;
}

.progressBarContainer {
  margin-top: 25px;
}

#nowPlayingArtist #albumImage {
  height: 100%;
  max-width: 125px;
  margin-right: 25px;
  float: left;
  background-size: cover;
}

.trackInformation {
  margin-top: -5px;
}

.trackInformation .trackName {
  margin: 6px 0;
  width: 100%;
  display: inline-block;
  color: #fff;
  text-align: left;
  font-size: 1.25rem;
}

.artistName span {
  font-size: 1rem;
  color: #a0a0a0;
}

.volumeBar {
  width: 180px;
  position: absolute;
  right: 30px;
}

.volumeBar .progressBar {
  width: 125px;
}